.container{
    font-family: cursive;
    display: flex;
    flex-direction: column;
}
.brandname{
   width: 50%;
   margin-left: 20px;
   font-size: 25px;
   color: black;
}
ul.nav{
    display: flex;
    position: relative;
    justify-content: end;
    gap: 30px;
    list-style: none;
    margin-top: -40px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    color: white;
}
main{
    border: 1px solid black;
    background-color: azure;
    width: auto;
    height: auto;
    align-self: center;
    width: 900px;
    padding: 20px;
}
section{
    display: flex;
    justify-content: space-around;
}
img{
    border-radius: 30px;
    width: 270px;
    height: 350px;
    margin: 10px;
    margin-right: -20px;
    transition: all 0.3s linear 0s;
}
.receipename{
    background-color: aquamarine;
    width: 250px;
    padding-left: 20px;
}
img:hover{
    transform: scale(1.1);
}
footer{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    width: 100%;
    display: flex;
    justify-content:  center;
    margin: 20px;
}
p{
    align-self:  center;
}
.img2{
    margin-right: -40px;
}
